<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Crafsy'}) %> 

<body class="home">
    <%- include('./partials/header') %> 
    <main>
        <section class="products_cards">
            <% productos.forEach(producto => { %>
                <article>
                    <div class="img_producto">
                        <a href="/products/detail/<%= producto.id %> ">
                            <img src="/images/productos/<%= producto.imagenes[0] %>" alt="">
                        </a>
                    </div>
                    <h3><%= producto.titulo %> </h3>
                    <p><%= producto.descripcion %></p>
                    <a class="botonRedireccion" href="/products/detail/<%= producto.id %>">ver mas</a>
                </article>
            <% }) %>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <div class="grid">
                    <% for( let i = 0; i < aside.length; i++ ) { %>
                        <article>
                            <img src="/images/<%= aside[i].imagen %>"  alt="">
                            <p><%= aside[i].titulo %> </p>
                        </article>
                    <% } %> 
                </div>
            </section>
            <section class="publicidad">
                <h2>Publicidad</h2>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-01.jpg" alt="add01">
                    </a>
                </div>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-02.jpg" alt="add02">
                    </a>
                </div>
            </section>
        </aside>
    </main>
    
    <%- include('./partials/footer') %> 
</body>
</html>